@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');


* {
    font-size: 16px;
    font-family: Roboto;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 6vh;
    background-color: black;
}

#header .header .zielony {
    color: #86C232;
}

#header .header .logo a {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    padding-left: 10px;
    opacity: .8;
}

#header .nawigacja {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .lista-nawigacji ul {
    list-style: none;
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s ease;
}

#header .lista-nawigacji ul.active {
    left: 20%;
}

#header .lista-nawigacji ul a {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: .3rem;
    text-decoration: none;
    color: #b9b6b6;
    text-transform: uppercase;
    padding: 50px;
    display: block;
}

#header .lista-nawigacji ul a::after {
    content: attr(opis-po);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #181818;
    font-size: 6rem;
    letter-spacing: 5px;
    z-index: -1;
    transition: .5s ease;
}

#header .lista-nawigacji ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
}

/*Przycisk nawigacji mobilnej*/

#header .hamburger {
    display: inline-block;
    height: 32px;
    width: 32px;
    z-index: 100;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
}

#header .hamburger .bar {
    height: 1.3px;
    width: 20px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .4s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::before {
    bottom: 7px;
}

#header .hamburger .bar::after {
    top: 7px;
}

#header .hamburger.active .bar::after {
    top: 0;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}



/*Logowanie*/

.background_logowanie {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(121, 97, 21));
}

.panel {
    position: absolute;
    top: 65%;
    left: 85%;
    transform: translate(-85%, -65%);
    background-color: white;
    width: 30%;
    height: 500px;
    z-index: 10;

}

.panel h1 {
    font-size: 2.6rem;
    text-align: left;
    padding: 35px 70px 15px;
    color: #444444;
}

.panel form {
    padding: 0 70px;
    box-sizing: border-box;
}

form .formularz {
    position: relative;
    border-bottom: gray 2px solid;
    margin: 50px 0 20px 0;
    width: 90%;
}

.formularz input {
    width: 100%;
    height: 20px;
    border: none;
    background: none;
    outline: none;
}

.formularz label {
    position: absolute;
    top: 30%;
    color: grey;
    padding: 0 5px;
    transform: translateY(-30%);
    pointer-events: none;
    transition: .3s;
}

.formularz span::before {
    content: '';
    position: absolute;
    top:22px;
    left: 0;
    width: 0;
    height: 2px;
    background: #59c496;
    }
    
    .formularz input:focus ~ label,
    .formularz input:valid ~ label{
        top:-15px;
        padding-left: 0;
        color: #59c496;
    }

    .formularz input:focus ~ span::before,
    .formularz input:valid ~ span::before{
width: 100%;
    }

.panel .zap_hasło {
    padding: 10px 0 0 3px;
    cursor: pointer;
    font-size: .9rem;
}

.panel .zap_hasło:hover {
    color: red;
}

form .przycisk {
    background-color: #59c496;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 60px;
    padding: 10px 70px;
}

form .przycisk:hover {
    background-color: #49a17b;
}

.tło {
    height: 450px;
    width: 65%;
    position: absolute;
    top: 63%;
    left: 80%;
    transform: translate(-80%, -63%);
    z-index: 1;
    background-color: black;
    opacity: 0.93;
}

.tło .opis {
    width: 40%;
}


.tło .opis img{
    width: 90%;
    height: 90%;
    position: relative;
    top: 50px;
    left: 15%;
    filter: saturate(40%);
}

.tło .opis img:hover{
filter: saturate(100%);
}




/*Rejestracja*/

.background_rejestracja {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(121, 97, 21));
}

.tło_rejestracja {
    height: 450px;
    width: 65%;
    position: absolute;
    top: 63%;
    left: 80%;
    transform: translate(-80%, -63%);
    z-index: 1;
    background-color: black;
    opacity: 0.93;
}


.tło_rejestracja .opis {
    width: 40%;
}

.tło_rejestracja .opis img{
    width: 90%;
    height: 90%;
    position: relative;
    top: 50px;
    left: 15%;
filter: brightness(5);
}


.panel_rejestracja {
    position: absolute;
    top: 60%;
    left: 85%;
    transform: translate(-85%, -60%);
    background-color: white;
    width: 30%;
    height: 600px;
    z-index: 10;
}

.panel_rejestracja h1 {
    font-size: 2.5rem;
    text-align: left;
    padding: 0 68px;
    margin-bottom: 50px;
    color:#444444;
}

.panel_rejestracja form {
    padding: 0 70px;
    box-sizing: border-box;
}

form .formularz_rejestracja {
    position: relative;
    border-bottom: gray 2px solid;
    margin: 32px 0 15px 0;
    width: 90%;
}

.formularz_rejestracja input {
    width: 100%;
    height: 20px;
    border: none;
    background: none;
    outline: none;
}

.formularz_rejestracja label {
    position: absolute;
    top: 30%;
    color: grey;
    padding: 0 5px;
    transform: translateY(-30%);
    pointer-events: none;
    transition: .3s;
}

.formularz_rejestracja span::before {
    content: '';
    position: absolute;
    top:22px;
    left: 0;
    width: 0;
    height: 2px;
    background: #59c496;
    }
    
    .formularz_rejestracja input:focus ~ label,
    .formularz_rejestracja input:valid ~ label{
        top:-15px;
        padding-left: 0;
        color: #59c496;
    }

    .formularz_rejestracja input:focus ~ span::before,
    .formularz_rejestracja input:valid ~ span::before{
width: 100%;
    }


form .przycisk_rejestracja {
    background-color: #59c496;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 65px;
    position: absolute;
    top:85%;
}

form .przycisk_rejestracja:hover {
    background-color: #49a17b;
}

form .select_box {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.select_box input{
margin: 6px 13px;
}

form .select_box label {
   color: rgb(78, 78, 78);
   position: relative;
   bottom: 1px;
   right:10px;
}

@media only screen and (min-width:992px) {

    #header .hamburger {
        display: none;
    }

    #header .lista-nawigacji {
        height: 66px;
    }

    #header .lista-nawigacji ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .lista-nawigacji ul li {
        display: inline-block;


    }

    #header .lista-nawigacji ul a {
        font-size: 1rem;
        font-weight: 500;
        position: relative;
        bottom: 38px;
        left: 50px;
    }

    #header .lista-nawigacji ul a::after {
        display: none;
    }
}